<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,960}</string>
                <key>spriteSourceSize</key>
                <string>{443,960}</string>
                <key>textureRect</key>
                <string>{{0,0},{443,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,960}</string>
                <key>spriteSourceSize</key>
                <string>{443,960}</string>
                <key>textureRect</key>
                <string>{{443,0},{443,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,40}</string>
                <key>spriteSourceSize</key>
                <string>{10,40}</string>
                <key>textureRect</key>
                <string>{{886,0},{10,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{896,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{240,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{280,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{936,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{976,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{40,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{80,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{120,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{160,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{200,960},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fighter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,233}</string>
                <key>spriteSourceSize</key>
                <string>{360,233}</string>
                <key>textureRect</key>
                <string>{{320,960},{360,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fighter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,325}</string>
                <key>spriteSourceSize</key>
                <string>{298,325}</string>
                <key>textureRect</key>
                <string>{{680,960},{298,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fighter3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,275}</string>
                <key>spriteSourceSize</key>
                <string>{178,275}</string>
                <key>textureRect</key>
                <string>{{0,1285},{178,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{178,1285},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,325}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{274,1285},{325,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,80}</string>
                <key>spriteSourceSize</key>
                <string>{32,80}</string>
                <key>textureRect</key>
                <string>{{599,1285},{32,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{631,1285},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{676,1285},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{690,1285},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBlood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,291}</string>
                <key>spriteSourceSize</key>
                <string>{174,291}</string>
                <key>textureRect</key>
                <string>{{735,1285},{174,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{909,1285},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aircraft.png</string>
            <key>size</key>
            <string>{1016,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8633d9412ce7866d047e3f479f0ee07:d473b8812f1b7c2d7a5e77046abf1bc3:46570c0f2a8a96da16dfc5ac2e498122$</string>
            <key>textureFileName</key>
            <string>aircraft.png</string>
        </dict>
    </dict>
</plist>
